*.pyc
.metadata/*
*~
.DS_Store
.project
.pydevproject
data/
\.ipynb_checkpoints
\.settings
*.npz
doc/_build/
image_window.ui.oA7156
.idea/
*.h5
log.out
build
*.autosave
*.mat
ScopeFoundry/ScopeFoundry.egg-info
ScopeFoundry/__pycache__/
ScopeFoundryHW/andor_camera/log/
ScopeFoundryHW/xbox_controller/log/
ScopeFoundryHW/thorlabs_stepper_motors/log/
ScopeFoundryHW/princeton_omaV/OMAV InGaAs System Manual.pdf
ScopeFoundryHW/powermate/log/
ScopeFoundryHW/asi_stage/log/
ScopeFoundry/log/
ScopeFoundryHW/thorlabs_stepper_motors/log/
ScopeFoundry/tests/log/
ScopeFoundryHW/pololu_servo/log/
ScopeFoundryHW/alicat_eip/log/
ScopeFoundryHW/pico_tc08/log/
FoundryDataBrowser/dist
ScopeFoundryHW/elgato_streamdeck/log
ScopeFoundryHW/acton_spec/log/
ScopeFoundryHW/keithley_sourcemeter/log/
ScopeFoundryHW/sync_stream_scan/log/
ScopeFoundryHW/toupcam/log/
ScopeFoundryHW/oceanoptics_spec/log/
ScopeFoundryHW/thorlabs_powermeter/log/
ScopeFoundryHW/omega_pid/log/
ScopeFoundryHW/acton_spec/log/
foundry_scope.egg-info/
ScopeFoundryHW/picoharp/log/
ScopeFoundryHW/picoquant/log/
ScopeFoundryHW/sync_stream_scan/log/
ScopeFoundry/tests/load_hw_ini_file_test/log
ScopeFoundryHW/attocube_ecc100/log
ScopeFoundryHW/thorlabs_ell6k_dual_position_slider/log
ScopeFoundryHW/laser_quantum/log
ScopeFoundryHW/rigol/log
FoundryDataBrowser/FoundryDataBrowser.egg-info
near_field_microscope/log/
near_field_microscope/data/
nikon_microscope/log/
nikon_microscope/data/
cage_microscope/log/
cage_microscope/data/
*log*.txt
